<paper-item>
<div class="content">

  <div class="article">
    <div class="title">{{ .Title }}</div>
    {{if .Params.categories }}
      <div class="categories">
        {{ range $index, $category := .Params.categories }}
          <a href="categories/{{ $category | urlize }}/">{{ $category }}</a>
        {{ end }}
      </div>
    {{end}} 
    <div class="description">{{ .Content }}</div>
    <div class="tags">
      {{ .Date.Format "2 Jan 2006" }}
      {{if .Params.tags }}
        {{ range $index, $tag := .Params.tags }}
          <a href="tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
        {{ end }}
      {{end}} 
    </div>
  </div>

</div>
</paper-item>

<paper-item>
  {{if .Prev}}
    <a data-route="/post/{{.Prev.Slug}}" href="/post/{{.Prev.Slug}}"><paper-fab icon="chevron-left"><a></a></paper-fab></a>
  {{else}}
    <paper-fab disabled icon="chevron-left"></paper-fab>
  {{end}}
    <div class="flex"></div>
  {{if .Next}}
    <a  data-route="/post/{{.Next.Slug}}" href="/post/{{.Next.Slug}}"><paper-fab icon="chevron-right"></paper-fab></a>
  {{else}}
    <paper-fab disabled icon="chevron-right"></paper-fab>
  {{end}}
</paper-item>

