{{ $data := .Data }}

<paper-menu>
  {{ range $key, $value := .Data.Terms }}
    <a data-route="/{{ $data.Plural }}/{{ $key | urlize }}" href="/{{ $data.Plural }}/{{ $key | urlize }}" tabindex="-1">
      <paper-item>
				{{ if eq $data.Plural "tags"}}<iron-icon icon="loyalty"></iron-icon>{{else}}<iron-icon icon="folder"></iron-icon>{{end}}
      	<div class="categorymiddle">{{ $key | urlize }}</div>
				<div>{{ len $value }}</div>
      </paper-item>
    </a>
  {{ end }}
</paper-menu>


