<section>
<div class="content">

  <!-- paper-card -->
  <div class="article">

<paper-material elevation="2">
  <div class="header">

  {{if .PrevInSection}}
    <a data-route="/posts/{{.PrevInSection.Slug}}" href="/posts/{{.PrevInSection.Slug}}"><paper-fab mini icon="chevron-left"></paper-fab></a>
  {{else}}
    <paper-fab disabled mini icon="chevron-left"></paper-fab>
  {{end}}

  <div class="title">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Date.Format "2 January 2006" }}</h2>
  </div>

  {{if .NextInSection}}
    <a  data-route="/posts/{{.NextInSection.Slug}}" href="/posts/{{.NextInSection.Slug}}"><paper-fab mini icon="chevron-right"></paper-fab></a>
  {{else}}
    <paper-fab disabled mini icon="chevron-right"></paper-fab>
  {{end}}
  </div>
</paper-material>

<paper-material elevation="1">
    <div class="body">{{ .Content }}</div>
</paper-material elevation="1">

<paper-material elevation="0">
  <div class="footer">

    {{if .Params.categories }}
      <div class="categories">
        <span>categories:</span>
        {{ range $index, $category := .Params.categories }}
          <a data-route="/categories/{{ $category | urlize }}" href="/categories/{{ $category | urlize }}">{{ $category }}</a>
        {{ end }}
      </div>
    {{end}} 

  </div>
</paper-material>
<paper-material elevation="0">
  <div class="footer">

    <div class="tags">
        <span>tags:</span>
      {{if .Params.tags }}
        {{ range $index, $tag := .Params.tags }}
          <a data-route="/tags/{{ $tag | urlize }}" href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
        {{ end }}
      {{end}} 
    </div>

  </div>
</paper-material>

  </div>
  <!-- /paper-card -->

</div>
</section>
