      <paper-item>
        <div class="copyright">{{.Site.Copyright | safeHTML}}</div>
        <div class="space"></div>
        <div class="design">looks <a href="http://blog.elliptic.info/">xoc</a></div>
      </paper-item>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
        <!--- script>
          var link = document.querySelector('link[id="navmenu"]');
          //var link = document.getElementById("navmenu");

          // Clone the <template> in the import.
          var template = link.import.querySelector('template');
          var clone = document.importNode(template.content, true);

          document.querySelector('div[id="container"]').appendChild(clone);
        </script -->
</body>

</html>
