{{ $baseurl := .Site.BaseURL }}

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
        <!-- div>

        {{if .Site.Params.profile}}

          <iron-image class="profile" sizing="cover" src="/{{.Site.Params.profile}}">

        {{else}}

          <iron-image class="profile" sizing="cover" src="/images/profile.png">

        {{end}}

            {{if .Site.Params.photo}}

              <iron-image class="photo" sizing="cover" src="/{{.Site.Params.photo}}"></iron-image>

            {{else}}

              <iron-image class="photo" sizing="cover" src="/images/photo.png"></iron-image>

            {{end}}

              <div class="author">{{.Site.Params.author}}</div>

          </iron-image>

        </div -->

          <span class="paper-font-title">____</span>
        </paper-toolbar>

        <!-- Drawer Content -->

        <paper-menu class="list" attr-for-selected="data-route" selected="{{"{{route}}"}}" on-iron-select="onMenuSelect">

          <a data-route="home" href="/home">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="posts" href="/posts">
            <iron-icon icon="list"></iron-icon>
            <span>Posts</span>
          </a>
          
          <a data-route="contact" href="/contact">
            <iron-icon icon="mail"></iron-icon>
            <span>Contact</span>
          </a>

        </paper-menu>


      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="space"></span>

          <!-- Toolbar icons -->
          <!-- paper-icon-button icon="refresh"></paper-icon-button -->
          <a data-route="search" href="/search/"><paper-icon-button icon="search"></paper-icon-button></a>

		{{ range $item := .Site.Params.logos }}
			{{ if eq $item.site "weibo" }}
				<a href="http://www.weibo.com/{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/weibo.png"></paper-icon-button></a>
			{{ else if eq $item.site "github"}}
				<a href="https://github.com/{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/github.png"></paper-icon-button></a>
			{{ else if eq $item.site "twitter"}}
				<a href="https://twitter.com/{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/twitter.png"></paper-icon-button></a>
			{{ else if eq $item.site "facebook"}}
				<a href="https://www.facebook.com/{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/facebook.png"></paper-icon-button></a>
			{{ else if eq $item.site "gplus"}}
				<a href="https://google.com/+{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/gplus.png"></paper-icon-button></a>
			{{ else if eq $item.site "linkedin"}}
				<a href="https://www.linkedin.com/in/{{ $item.username }}"><paper-icon-button src="{{$baseurl}}/images/linkedin.png"></paper-icon-button></a>
			{{end}}
		{{end}}
		<!-- a href="{{$baseurl}}/index.xml"><paper-icon-button src="{{$baseurl}}/images/feed.png"></paper-icon-button></a -->

          <!-- Application name  -->
          <div class="middle middle-container center horizontal layout">
            <div class="app-name">{{.Site.Title}}</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">{{.Site.Params.Description}}</div>
          </div>

        </paper-toolbar>

