{{ $baseurl := .Site.BaseURL }}

<!-- Main Content -->
<paper-item>
<div class="content">


<iron-pages attr-for-selected="data-route" selected="{{"{{route}}"}}">

{{range $section, $pages := .Site.Sections}}
  <section data-route="{{ $section }}">
    <paper-material elevation="1">
      {{ range first 1 .Pages }}
        {{ if eq $section "post" }}
          {{ .Render "poly_single" }}
        {{ else }}
          {{ .Render "single" }}
        {{ end }}
      {{ end }}
    </paper-material>
  </section>
  {{ if eq $section "post" }}
  <section data-route="{{ $section }}_list">
    <paper-material elevation="1">
      {{ range first 10 .Pages }}
        {{ .Render "page_list" }}
      {{ end }}
    </paper-material>
  </section>
  {{ end }}
{{ end }}

</iron-pages>

</div>
</paper-item>

