<!-- App Content -->
<div class="content">


<iron-pages attr-for-selected="data-route" selected="{{"{{route}}"}}">

  <section data-route="home">
    <paper-material elevation="1">

      <static-item item-url="/home/index.html"></static-item>

    </paper-material>
  </section>


  <section data-route="posts">
    <paper-material elevation="1">

      <static-item item-url="/posts/index.html"></static-item>

    </paper-material>
  </section>

  <section data-route="post">
    <paper-material elevation="1">

      <post-item base-url="/posts/" post-slug="[[params.slug]]"></post-item>

    </paper-material>
  </section>

  <section data-route="contact">
    <paper-material elevation="1">

      <static-item item-url="/contact/index.html"></static-item>

    </paper-material>
  </section>

  <section data-route="category">
    <paper-material elevation="1">

      <post-item base-url="/categories/" post-slug="[[params.catslug]]"></post-item>

    </paper-material>
  </section>

  <section data-route="categories">
    <paper-material elevation="1">

      <static-item item-url="/categories/index.html"></static-item>

    </paper-material>
  </section>

  <section data-route="tag">
    <paper-material elevation="1">

      <post-item base-url="/tags/" post-slug="[[params.tagslug]]"></post-item>

    </paper-material>
  </section>


  <section data-route="tags">
    <paper-material elevation="1">

      <static-item item-url="/tags/index.html"></static-item>

    </paper-material>
  </section>

  <section data-route="notfound">
    <paper-material elevation="1">

      <static-item item-url="/notfound/index.html"></static-item>

    </paper-material>
  </section>


</iron-pages>

</div>

