{{ $baseurl := .Site.BaseURL }}

<!-- Main Content -->
<paper-item>
<div class="content">


<iron-pages attr-for-selected="data-route" selected="{{"{{route}}"}}">

{{ range .Site.Menus.main }}
  {{ if eq .Identifier "post" }}
  <section data-route="{{ .Identifier }}">
    <paper-material elevation="1">

      <paper-item>
        <post-item slug-url="{{"{{.params.slug}}"}}"></post-item>
      </paper-item>
      <!--  partial "post/import_posts" . }} -->
    </paper-material>
  </section>
  {{ else }}
  <section data-route="{{ .Identifier }}">
    <paper-material elevation="1">

      <paper-item>
        <post-list slug-url="{{ .URL }}index.html"></post-list>
      </paper-item>
      <!--  partial "post/import_posts" . }} -->
    </paper-material>
  </section>
  {{ end }}

{{ end }}

</iron-pages>

</div>
</paper-item>

